.contact {
  max-width: 498px;
  width: 100%;
  margin-bottom: 40px;

  &__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding: 14px 14px 16px;
    letter-spacing: 0.15px;
    width: 100%;
    background-color: $contact-background;
    border: none;
    border-radius: 4px;

    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px $white-color inset;
      -webkit-text-fill-color: $main-text-color;
    }
  }

  &__textarea {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    padding: 14px 14px 16px;
    letter-spacing: 0.15px;
    width: 100%;
    background-color: $contact-background;
    border: none;
    border-radius: 4px;
    height: 148px;
    resize: none;

    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px $white-color inset;
      -webkit-text-fill-color: $main-text-color;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: $main-text-color;
    letter-spacing: 0;
    padding-bottom: 48px;

    @media (min-width: 744px) {
      padding-top: 56px;
    }

    @media (min-width: 1260px) {
      margin-bottom: 0;
    }
  }

  &__field {
    margin-bottom: 16px;

    &-message {
      margin-bottom: 32px;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    color: $white-color;
    border: none;
    width: 100%;
    background-color: $main-text-color;
    padding: 14.5px 0;
    border-radius: 8px;
  }
}
