.footer {
  padding-top: 48px;
  padding-bottom: 64px;

  &__container {
    @media (min-width: 744px) {
      justify-content: space-between;
      padding-top: 80px;
      padding-bottom: 120px;
    }

    @media (min-width: 1260px) {
      display: flex;
      align-items: center;
      gap: 111px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 411px;
    width: 100%;
  }

  &__laible {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: $gray-color;
    padding-bottom: 8px;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: $black-color;
  }
}
