.header {
  position: absolute;
  z-index: 1;

  width: 100%;
  padding: 24px 0;

  background: transparent;

  &__container {
    display: flex;
    gap: 56px;
    align-items: center;
    justify-content: space-between;
  }

  &__logo img {
    width: 152px;

    @media (min-width: 744px) {
      width: 228px;
    }
  }

  @media (min-width: 744px) {
    padding: 32px 0;
  }
}

.nav {
  display: flex;
  gap: 24px;
  align-items: center;

  &__item {
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__number {
    position: absolute;
    right: 100%;

    width: 139px;

    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: $main-text-color;
    letter-spacing: 2px;

    opacity: 0;

    transition: opacity 0.3s ease-in-out;
  }

  @media (min-width: 1260px) {
    &__item:hover .nav__number {
      opacity: 1;
    }
  }

  &__phone {
    width: 24px;
    height: 24px;

    background-image: url('../images/Phone-number.svg');
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 744px) {
      width: 32px;
      height: 32px;
    }
  }

  &__menu {
    width: 24px;
    height: 24px;

    background-image: url('../images/Icon-Burger-menu.svg');
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 744px) {
      width: 32px;
      height: 32px;
    }
  }

  &__menu:hover {
    background-image: url('../images/burgerhover.svg');
  }

  @media (min-width: 744px) {
    gap: 32px;
  }
}
