.hero {
  display: flex;
  align-items: flex-end;

  height: 100vh;
  padding: 40px 0;

  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__container {
    width: 100%;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    color: #fff;

    @media (min-width: 744px) {
      font-size: 48px;
      line-height: 100%;
      letter-spacing: 0;
    }

    @media (min-width: 1260px) {
      font-size: 56px;
      line-height: 100%;
    }
  }

  @media (min-width: 744px) {
    padding: 64px 0;
    background-image: url('../images/hero744.png');
  }

  @media (min-width: 1260px) {
    padding: 64px 0;
    background-image: url('../images/hero1260.png');
  }
}
