.image {
  margin-top: 96px;

  background-color: $image-footer-background;

  &__container {
    padding-block: 48px;

    @media (min-width: 744px) {
      display: flex;
      align-items: center;
      gap: 24px;
      padding-block: 120px;
    }

    @media (min-width: 1260px) {
      gap: 111px;
    }
  }

  &__photo {
    display: block;
    width: calc(100% + 40px);
    height: 200px;
    margin: 0 -20px;
    object-fit: cover;

    @media (min-width: 1260px) {
      margin-top: 96px;
      height: 460px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: $main-text-color;
    padding-top: 24px;
    padding-bottom: 16px;

    @media (min-width: 744px) {
      max-width: 287px;
    }

    @media (min-width: 1260px) {
      max-width: 498px;
      height: 96px;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: $main-text-color;
    letter-spacing: 0.15px;

    @media (min-width: 744px) {
      max-width: 287px;
    }

    @media (min-width: 1260px) {
      max-width: 411px;
      height: 110px;
    }
  }
}
