@import './variable';
@import './reset';
@import './header';
@import './hero';
@import './recommended';
@import './gallery';
@import './image';
@import './contact';
@import './footer';
@import './menu';

.container {
  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 20px;
}
